body{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

header{
    flex-basis: 100%;
    height: 40%;
}

header>img{
    width: 100%;
    height: 500px;
}

footer{
    flex-basis: 100%;
}

footer p{
    margin: auto;
}

main{
    flex-basis: 72%;
    margin-right: 10px;
    margin-left: 5px;
    padding: 10px;
}


body>div{
    flex-basis: 25%;
    max-height: 400px;
    position: sticky;
    top: 5px;
}

aside>ul>li{
    width: 200px;
}

nav > ul{
    display: flex;
}

aside img{
    width: 1em;
    height: 1em;
 }
section{
    margin: 10px;
    padding: 10px;
}

 footer{
    display: flex;
    justify-content: space-between;
 }
 
 footer img{
    width: 10em;
    height: 5em;
    margin-right: 10px;
 }