body{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

header{
    flex-basis: 100%;
    height: 40%;
}

header>img{
    width: 100%;
    height: 500px;
}

main{
    flex-basis: 73%;
}

aside{
    flex-basis: 25%;
    max-height: 400px;
    position: sticky;
    top: 0px;
}

aside>ul>li{
    width: 200px;
}

nav > ul{
    display: flex;
}

.perso{
    display: flex;
}

.Droite{
    text-align: right;
}

img{
    width: 10em;
    height: 10em;
}
 aside img{
    width: 1em;
    height: 1em;
 }

 footer{
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
 }
 
 footer img{
    width: 10em;
    height: 5em;
    margin-right: 10px;
 }

footer p{
    margin: auto;
}