body{
    background-color:rgb(10, 22, 32);
    color: white;
}

header{
    margin-bottom: 10px;
}

header a{
    color: rgb(10, 22, 32);
    font-size: larger;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}

nav{
    background-color: white;
    border-radius: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 60%;
    margin: auto;
    box-shadow: 0 10px 40px rgba(159, 162, 177, .8);
}

nav>ul>li{
    list-style-type: none;
    text-align: center;
}

nav>ul{
    padding-left: 0;
    justify-content: space-around;
}

header li:hover{
    color: black;
    font-weight: bolder;
    text-decoration: underline;
}

section{
    border: solid thin white;
    border-radius: 10px 100px / 50px;
}

aside>ul>li{
    list-style-type: none;
    text-align: left;
    margin-bottom: 5px;
    font-size: larger;
}

aside{
    padding: 10px;
    border-radius: 10px;
}

footer{
    border-radius: 10px;
    margin-top: 20px;
    background-color: white;
    color: black;
}

img{
    border-radius: 10px;
}

/* test animation bordure du aside */
.gradient-border {
    --border-width: 3px;
    position: relative;
    background: rgb(10, 22, 32);
    border-radius: var(--border-width);
}
  
.gradient-border::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
    60deg,
    #0a162000,
    #1a202e,
    #823430,
    #f1753e,
    #f1ad63);
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
}
  
@keyframes moveGradient {
    50% {
      background-position: 100% 50%;
    }
}