body{
    background-color:rgb(10, 22, 32);
    color: white;
}

header{
    margin-bottom: 10px;
}

header a{
    color: rgb(10, 22, 32);
    font-size: larger;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}

nav{
    background-color: white;
    border-radius: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 60%;
    margin: auto;
    box-shadow: 0 10px 40px rgba(159, 162, 177, .8);
}

nav>ul>li{
    list-style-type: none;
    text-align: center;
}

nav>ul{
    padding-left: 0;
    justify-content: space-around;
}

header li:hover{
    color: black;
    font-weight: bolder;
    text-decoration: underline;
}

section{
    border: solid thin white;
    border-radius: 60px
}

aside>ul>li{
    list-style-type: none;
    text-align: left;
    margin-bottom: 5px;
    font-size: larger;
}

aside{
    border: solid 1px white;
    padding: 10px;
    border-radius: 10px;
}

footer{
    border-radius: 10px;
    margin-top: 20px;
    background-color: white;
    color: black;
}

img{
    border-radius: 10px;
}
